#home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
  padding: 32px 100px 0px 100px;
  background: var(--background);
}
.Hero {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroHeader {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.heroHeader h1 {
  font-size: 3.25rem;
  font-weight: 700;
  color: var(--primary);
  font-family: var(--font-heading);
}

.heroText {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--text);
}
.heroText span {
  font-weight: 700;
  color: var(--primary);
}

/* -----------HERO IMAGE----------- */
.heroImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0px 6.25rem 0px 6.25rem;
}
.heroImage img {
  width: 100%;
  height: 100%;
}
/* ---------- MOBILE BUTTON ---------- */

.menu-btn {
  display: none;

  font-size: 1.4rem;
}

/* ---------- BUTTON ---------- */

.aboutButton {
  display: inline-flex;

  align-items: center;

  justify-content: center;

  gap: 0.7rem;

  padding: 0.625rem 2rem;

  border-radius: 999px;

  background: rgb(from var(--primary) r g b / 20%);

  transition: var(--transition);
}
.aboutButton p {
  color: var(--primary);
  font-weight: 700;
}
.heroButton {
  display: flex;
  gap: 1rem;
}
.contactButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  font-weight: 700;
  padding: 0.625rem 2rem;
  border-radius: 999px;

  background: var(--primary);
  color: var(--text-light);
  transition: var(--transition);
}

.contactButton:hover {
  transform: translateY(-3px);
  box-shadow: var(--shadow-md);
  background: rgb(from var(--primary) r g b / 50%);
}
.aboutButton:hover {
  transform: translateY(-3px);
  box-shadow: var(--shadow-md);
  background: rgb(from var(--primary) r g b / 50%);
}
/* --------About Section --------  */
#about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 100px 24px 100px;
  background: var(--primary);
}
.aboutUsHeader {
  color: var(--text-light);
  font-size: 3rem;
}
.aboutUsText {
  color: var(--text-light);
  font-size: 1.25rem;
  text-align: center;
  font-weight: 400;
}
/* ---------- Members section ---------- */
#members {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 100px;
  padding-right: 100px;
  gap: 2rem;
}
#ourMemberHeader {
  width: 100%;
  text-align: center;
}
#ourMemberHeader h2 {
  font-size: 3rem;
  color: var(--primary);
}
#ourMemberHeader p {
  font-size: 1.25rem;
  color: var(--text);
  font-weight: 400;
}
/* ---------- CARDS ---------- */
.strukturContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 3.125rem;
  justify-content: center;
}
.strukturCard {
  perspective: 1000px;
  width: 260px;
  height: 347px;

  transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.card {
  position: relative;
  width: 260px;
  height: 347px;
  transform-style: preserve-3d;
  transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.cardFront,
.cardBack {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  border-radius: var(--radius-lg);
}
.cardFront {
  background: var(--background);

  border-radius: var(--radius-lg);

  box-shadow: var(--shadow-sm);

  transition: var(--transition);
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-style: preserve-3d;
  transition: var(--transition);
  padding: 20px 28px 20px 28px;
  height: 347px;
  width: 260px;
}
.cardFront h2 {
  font-size: 2rem;
}
.cardBack {
  background: var(--primary);

  transition: var(--transition);
  display: block;
  height: 347px;
  width: 260px;

  transform-style: preserve-3d;
  transition: var(--transition);
  border-radius: var(--radius-lg);
}
.cardInnerContainer {
  padding: 20px 28px 20px 28px;
  height: 100%;
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-sm);
  display: flex;
  flex-direction: column;
}
.cardInnerContainer::before {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2) 57%,
    rgba(169, 169, 169, 0.2) 82%
  );

  opacity: 0;
  transition: opacity 1.4s ease;

  border-radius: inherit;
  pointer-events: none;
}
.namaStruktur {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-light);
  font-family: var(--font-heading);
  margin-bottom: 4rem;
  height: 100%;
}
.medsosStruktur {
  display: flex;
  gap: 1.5rem;
  height: 100%;
  color: var(--text-light);
}
/* ----------- murid section ------------ */
.memberContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}
.memberNextButtonLeft,
.memberNextButtonRight {
  height: 100%;
  display: flex;
  justify-content: center;
}
.nextButtonLeft,
.nextButtonRight {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.125rem;
  height: 3.125rem;

  background: var(--primary);
  color: var(--text-light);
  font-size: 1.5rem;
  border-radius: 100%;
  transition: var(--transition);
}
.nextButtonLeft:hover,
.nextButtonRight:hover {
  transform: translateY(-2px);
  box-shadow: var(--shadow-md);
  background: rgb(from var(--primary) r g b / 75%);
}
.nextButtonLeft:disabled,
.nextButtonRight:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
#membersCarousel {
  flex: 1;
  overflow: hidden;
  position: relative;

  --card-width: calc((100% - 4rem) / 3);
}

.carousel-track {
  display: flex;
  gap: 2rem;

  transition: transform 0.4s ease;

  will-change: transform;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}
.memberCard {
  flex: 0 0 var(--card-width);
  width: var(--card-width);

  min-height: 320px;

  background: white;
  color: black;
  border-radius: 16px;
  padding: 20px;
  box-sizing: border-box;
}
/* ----------- gallery and contact ------------*/
.galleryAndContact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 100px 24px 100px;
  gap: 3rem;
}
